.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: px;
  padding: 20px;
  color: white;
}

.container {
  width: 300px;
  height: 300px;
  margin: 25px auto;
  border-radius: 50%;
}

.row {
  width: 100%;
}

.col-3 {
  display: inline-block;
  width: 28%;
  margin: 5px;
  padding: 5px;
  border: 1px solid #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 525px) {
  .col-3 {
    margin: 0 auto;
    display: block;
    width: 80%;
  }
}